
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


a:hover {
  text-decoration: none;
}


.backgroundWhite {
  background: white !important;
  box-shadow: 0 -5px 25px 0px rgba(0, 0, 0, 0.2);
}

#app {
  background: #f9f9f9;
}

.hrefColor {
  color: #444345 !important;
}
.hrefColor > .menuItem > a:hover {
  color: #297ba7 !important;
}

.navTransition {
  transition: .4s background-color ease-in-out;
}